<div class="header">
  <img width="50" height="50" src="../../assets/imgs/landing-logo.png" alt="" class="logo" />

</div>
<ion-content>
  <ion-fab color="primary" vertical="top" horizontal="start">
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
  
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="openLink('')"><ion-icon name="person"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openLink('')"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openLink('')"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openLink('')"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openLink('')"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      
      <ion-fab-button *ngIf="user && authService.isAdmin(user)"><ion-icon name="settings"></ion-icon></ion-fab-button>
      <ion-icon name="log-out" (click)="logout()" class="logoutBtn"></ion-icon>
    </ion-fab-list>
  </ion-fab>

  <ion-slides #slides [options]="slideOpts" (ionSlideWillChange)="slideChanged()">
    <ion-slide (click)="openPage('/book-session')"> 
      <ion-icon name="time"></ion-icon>
      <h1>Book A Session</h1>
    </ion-slide>
    <ion-slide (click)="openPage('/beats')"> 
      <ion-icon name="musical-note"></ion-icon>
      <h1>Beats</h1>
    </ion-slide>
  </ion-slides>
  <div class="gradient-bg"></div>
  <img [src]="slideImg" alt="" class="bgImg"/>
</ion-content>
